# JavaScript Node.js CircleCI 2.0 configuration file
# https://circleci.com/docs/2.0/language-javascript/

version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.15

    working_directory: ~/knapsack-pro-core-js

    steps:
      # check out source code to working directory
      - checkout

      # restore, install and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to the latest cache if no exact match is found
            - v1-dependencies-
      - run: npm install
      - save_cache:
          key: v1-dependencies-{{ checksum "package.json" }}
          paths:
            - node_modules

      # build project
      - run: npm run build

      # run code linters
      - run: npm run lint

      # run tests and generate code coverage report
      - run: npm run test:coverage

      # save code coverage report as artifact
      - store_artifacts:
          path: coverage
